@keyframes slide {
  0% {
    transform: translateX(0%); /* Start at the left edge */
  }
  100% {
    transform: translateX(-50%); /* Move to the left (duplicating effect) */
  }
}
.img-box {
  display: flex;
  width: 200%; /* Set the width to accommodate both images */
  overflow-x: hidden; /* Hide the overflow */
  animation: slide 20s infinite linear;
}

.hero-container {
  position: relative;
}

.image-container {
  height: 90vh;
}
.text-overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Set the text color */
  text-align: center;
  width: 80%; /* Adjust the width of the text overlay */
  padding: 0 70px;
}
.hero-hedline {
  font-size: 50px;
  font-weight: 500;
}
.hero-simple {
  font-size: 20px;
  margin: 20px;
}
.action-btn {
  background: #4f0da3;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}
.ma-d {
  border-radius: 30px;
}
.white {
  background: #fff;
  color: #4f0da3;
  border: 2px solid #fff;
}
.trans {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.hero-btns-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.about-landing-container {
  padding: 30px 10em;
}
.about-hr {
  border: 1px solid #4f0da3;
}
.abt-text {
  font-size: 16px;
  font-weight: 500;
  color: #4f0da3;
  background: #fff;
}
@media only screen and (max-width: 1150px) {
  .hero-hedline {
    font-size: 40px;
  }
  .hero-simple {
    margin: 18px;
  }
}
@media only screen and (max-width: 940px) {
  .hero-hedline {
    font-size: 35px;
  }
  .hero-simple {
    font-size: 14px;
  }
  .text-overlay {
    padding: 0 3px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-hedline {
    font-size: 25px;
  }
  .hero-simple {
    font-size: 14px;
  }
  .text-overlay {
    padding: 0;
  }
  .image-container {
    height: 60vh;
  }
}
@media only screen and (max-width: 450px) {
  .hero-hedline {
    font-size: 20px;
  }
  .hero-simple {
    font-size: 12px;
  }
}
@media only screen and (max-width: 370px) {
  .hero-hedline {
    font-size: 16px;
  }
  .hero-simple {
    font-size: 9px;
  }
  .action-btn {
    width: 120px;
  }
}
