.first-side-container {
  background: #fff;
  padding: 10px 20px;
  /* margin-left: 10px; */
}
.post-ead {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.text-area {
  width: 100%;
  border: none;
  outline: none;
  height: 200px;
  padding: 10px;
  margin: 20px 0;
}
.down-post-feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-post-feed {
  font-size: 20px;
  display: flex;
  color: #c1c1c1;
  gap: 10px;
}
.post-btn {
  background: #4f0da3;
  color: #fff;
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
.ads-img {
  margin: 10px 0;
  width: 100%;
}
